body{
    background-color: black;
}
.d1{
    background-color:green;
    height: 80px;
    width: 100%;
   /* margin: 0px 0px 10px 10px ;*/
   border-radius: 15px;
}
.d2{
    width: 300px;
    float: left;
    color: beige;
    font-size: large;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home{
    width: 100px;
    float: left;
    color: beige;
    font-size: large;
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 500px;
    margin-bottom: 50px;

}
.home :hover{
    background-color:red;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
    color: blue;

}
.about{
    width: 100px;
    float: left;
    color: beige;
    font-size: large;
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 50px;

}
.services{
    width: 100px;
    float: left;
    color: beige;
    font-size: large;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 50px;

}
.contact{
    width: 150px;
    float: left;
    color: beige;
    font-size: large;
    margin-left: 50px;
    /*margin-right: 10px;*/
    margin-top: 10px;
    margin-bottom: 50px;
    
}
.about :hover{
    background-color:red;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
    color: blue;

}
.contact :hover{
    background-color:red;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
    color: blue;

}
.services :hover{
    background-color:red;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
    color: blue;
}
a{
    color: azure;
}
.photo{
    /*position: relative;*/
    background-image: url("p14.jpg");
    /*background-color: #cccccc;*/
    width: 100%;                                    
   /* background-size: cover;
    /* background-size: contain;
    background-repeat:no-repeat;*/
    height: 100vh;
    
    margin-top: 10px;
}
.par1{
    position: absolute;
    left: 170px;
    bottom: 450px;
    /*margin-left: 100%;*/
    color: aliceblue;
}
.par2{
    position: absolute;
    left: 170px;
    bottom: 370px;
   margin-left: 15px;
   text-shadow:  0px 5px 5px  yellow;
    color: aliceblue;

}
.par3{
    position: absolute;
    left: 150px;
    bottom: 300px;
    margin-left: 15px;
     color: aliceblue;
}
.me{
    position: absolute;
    left: 950px;
    bottom: 150px;
    filter: grayscale(100%);
    overflow: hidden;
    /*border: #000;*/
    width: 290px;
    border-radius: 20px;
    opacity: 0.1;
    box-shadow: 15px 15px 15px red;
    height: 390px;
}
.me:hover{
    opacity: 1;
}
